body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(12, 30px);
  grid-template-rows: repeat(12, 30px);
  gap: 2px;;
  user-select: none;
}
.cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-family: "Comic Sans MS";
  background: #d0d0d0;
  border: 1px solid #aaa;
}
.container {
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}